<div class="main_title">
  <div class="main_title_box">
    <div class="main_title_top">
      “オフィスのすきまを<br>
      &nbsp;新たな価値に変える”
    </div>
    <div class="main_title_sub">
      空きスペースを有効活用し自社内でコールセンターをしてもらう。<br>
      コールセンター企業とコールセンターを導入したい企業をつなぐマッチングサイト。
    </div>
  </div>
</div>
<h3 class="section_title fade_in">
  <span class="en">Features</span>
  <span class="ja">SHARE SPACEとは?</span>
</h3>
<h4 class="intro_top fade_in"><span class="blue">「スペースを提供しオンサイトで仕事を依頼したい企業」</span>と<br>
<span class="orange">「スキルを提供したい企業」</span>を繋ぐマッチングサイトです。</h4>
<div class="container_about fade_in">
  <ul class="content_list">
    <li class="content_list_item">
      <p class="icon_image"><%= image_tag "icon1.png" %></p>
      <p class="content_message">新しいビジネスパートナーの発見
      </p>
    </li>
    <li class="content_list_item">
      <p class="icon_image"><%= image_tag "icon2.png" %></p>
      <p class="content_message">オンサイトのため連絡事項や相談もスムーズにできる
      </p>
    </li>
    <li class="content_list_item">
      <p class="icon_image"><%= image_tag "icon3.png" %></p>
      <p class="content_message">専門業務に専念できるため社員のスキル向上/業務の効率化が図れる
      </p>
    </li>
  </ul>
</div>
<div class="container_new">
  <h3 class="section_title fade_in">
    <span class="en">New</span>
    <span class="ja">最新のスペース募集</span>
  </h3>
  <div class="swiper-container fade_in">
    <!-- メイン表示部分 -->
    <div class="swiper-wrapper">
      <!-- 各スライド -->
      <div class="swiper-slide">
        <%= image_tag "header_default.jpg", class:"image_swiper" %>
        <div class="swiper_item_width">
          <h1 class="post_title">【スーパーバイザー募集/フルリモート】コールセンターのスーパーバイザーとしてお客様からのお問い合わせ対応をはじめ、業務チームの運営・管理をお任せします。</h1>
          <p class="post_content">aaaaaaaaaaa</p>
            <div class="group"><h3>報酬(月単価)<span>約500,000</span></h3></div>
            <div class="group"><h3>募集人数<span>50人</span></h3></div>
            <div class="group"><h3>募集期間<span>2021-03-12 〜 2021-3-14</span></h3></div>
            <h3 class="post_address">オフィス住所<span>北海道札幌市南区藤野3条4丁目1-24 プレジールビル6階</span></h3>
        </div>
      </div>
      <div class="swiper-slide">
        <%= image_tag "header_default.jpg", class:"image_swiper" %>
        <div class="swiper_item_width">
          <h1 class="post_title">【スーパーバイザー募集/フルリモート】コールセンターのスーパーバイザーとしてお客様からのお問い合わせ対応をはじめ、業務チームの運営・管理をお任せします。</h1>
          <p class="post_content">aaaaaaaaaaa</p>
            <div class="group"><h3>報酬(月単価)<span>約500,000</span></h3></div>
            <div class="group"><h3>募集人数<span>50人</span></h3></div>
            <div class="group"><h3>募集期間<span>2021-03-12 〜 2021-3-14</span></h3></div>
            <h3 class="post_address">オフィス住所<span>北海道札幌市南区藤野3条4丁目1-24 プレジールビル6階</span></h3>
        </div>
      </div>
      <div class="swiper-slide">
        <%= image_tag "header_default.jpg", class:"image_swiper" %>
      </div>
      <div class="swiper-slide">
        <%= image_tag "header_default.jpg", class:"image_swiper" %>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
	  <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
