<li id="comment_<%= comment.id %>">
  <div class="comment_box">
    <div class="comment_user_area">
      <%= link_to comment.user, class:"comment_user_link" do %>
        <%= render 'shared/icon_default',user: comment.user %>
      <% end %>
      <%= link_to comment.user, class:"comment_user_link" do %>
        <span><%= comment.user.name %></span>
      <% end %>
    </div>
    <div class="comment">
      <%= comment.content %>
      <span class="comment_create"><%= comment.created_at.strftime("%Y-%m-%d %H:%M") %></span>
    </div>
    <div class="comment_delete">
      <% if user_signed_in? %>
        <% if current_user == (comment.user) || current_user.admin? %>
        <%= link_to "削除", post_comment_path(@post,comment), method: :delete, data:{ confirm:"本当に削除しますか？" }, remote: true %>
        <% end %>
      <% end %>
    </div>
    <hr class="comment_separate">
  </div>
</li>
