<li id="comment_<%= comment.id %>"　class="comment-<%= comment.id %>">
  <div class="comment_box">
    <div class="comment_user_area">
      <%= render 'shared/icon_default',user: comment.user %>
      <span><%= comment.user.name %></span>
    </div>
    <div>
      <div class="comment">
        <%= comment.content %>
      </div>
      <div class="divider"></div>
      <div class="comment_delete">
        <% if user_signed_in? %>
          <% if current_user == (comment.user) || current_user.admin? %>
            <%= link_to "削除", post_comment_path(@post,comment), method: :delete, data:{ confirm:"本当に削除しますか？" }, remote: true %>
          <% end %>
        <% end %>
      </div>
      <hr class="comment_separate">
    </div>
  </div>
</li>
