<% provide(:title, @call_center_user.name) %>

<div class="detail_frame">
  <% if @call_center_user.header_image.attached? %>
    <%= image_tag @call_center_user.header_image, class:"header_detail" %>
  <% else %>
    <%= image_tag 'header_default.jpg', class:"header_detail" %>
  <% end %>
  <div class="company_block">
    <% if @call_center_user.image.attached? %>
      <%= image_tag  @call_center_user.image, class:"user_icon" %>
    <% else %>
      <%= image_tag 'user_default.png', class:"user_icon" %>
    <% end %>
    <p class="company_name">
      <%= @call_center_user.name %>
    </p>
    <p class="company_address">
      <i class="fas fa-map-marker-alt"></i>
      <%= @call_center_user.prefectures %>
    </p>
    <p class="company_homepage">
      <i class="fa fa-link"></i>
        <%= raw Rinku.auto_link(@call_center_user.home_page, :all, 'target="_blank"') if @call_center_user.home_page %>
    </p>
    <% if current_call_center_user == @call_center_user %>
      <%= link_to 'アカウントを編集する', edit_call_center_user_registration_path, class:"direct_message mypage_edit" %>
    <% else %>
      <div class="direct_message fade_in">
       <p>ダイレクトメッセージを送る</p>
      </div>
    <% end %>
    <div class="company_description fade_in">
      <p><%= @call_center_user.introduction %></p>
    </div>
    <div class="company_info fade_in">
      <h3>会社情報</h3>
      <ul class="info_box">
        <li>業種<span class="sub_category"><%= @call_center_user.industry %></span>
        </li>
        <li>平均年齢<span class="sub_category"><%= @call_center_user.average_age %></span></li>
        <li>募集中<span class="sub_category">2件</span></li>
      </ul>
    </div>
  </div>
  <div>
    <h2 class="user_post_index"><%= @call_center_user.name %>さんの投稿</h2>
  </div>
</div>
