<% @user.posts.each do |post| %>
  <div class="user_post_area">
    <%= link_to post, class:"post_hover" do %>
      <div>
          <%= image_tag post.image, class:"post_index_image" if post.image.attached? %>
      </div>
      <h1 class="post_title"><%= post.title %></h1>
      <p class="post_content"><%= truncate(post.content, length: 90) %></p>
      <div class="group"><h3>報酬(月単価)<span>約<%= number_to_currency(post.reward) if post.reward.present? %></span></h3></div>
      <div class="group"><h3>募集人数<span><%= post.recruit_people %>人</span></h3></div>
      <div class="group"><h3>募集期間<span><%= post.start_date %> 〜 <%= post.finish_date %></span></h3></div>
      <h3 class="post_address">オフィス住所<span><%= post.map&.address %></span></h3>
    <% end %>
    <div class="post_index_tag">
      <% post.tags.each do |tag| %>
        <%= link_to posts_path(@q, :tag_id=> "#{tag.id}"), method: :get do %>
          <span><%= tag.name %></span>
        <% end %>
      <% end %>
    </div>
    <div class="post_index_bookmark">
      <%= render 'bookmarks/bookmark' , post: post if post.user != current_user %>
    </div>
  </div>
  <hr class="post_separate">
<% end %>
