<% provide(:title, @user.name) %>

<div class="user_show">
  <div class="detail_frame">
    <%= render 'shared/header_default' %>
    <div class="company_block">
      <%= render 'shared/icon_default', user: @user %>
      <p class="company_name">
        <%= @user.name %>
      </p>
      <% if @user.skill == true %>
        <p class="skill_company"><i class="far fa-check-circle"></i>スキル企業</p>
      <% end %>
      <p class="company_homepage">
        <%= raw Rinku.auto_link(@user.home_page, :all, 'target="_blank"') if @user.home_page %>
      </p>
      <% if current_user == @user %>
        <div class="button_block">
          <%= link_to 'アカウントを編集する', edit_user_registration_path, class:"mypage_edit" %>
        </div>
      <% else %>
        <%= render "contact" %>
      <% end %>
      <div class="company_description">
        <p class="company_show_content"><%= safe_join(@user.introduction.split("\n"),tag(:br)) if @user.introduction.present? %></p>
      </div>
    </div>
    <h2 class="user_post_index"><%= @user.name %>さんのスペース投稿(<%= @user.posts.count %>件)</h2>
    <%= render 'host_post_area', post: @user.posts %>
  </div>
</div>
