<%= provide(:title, "編集") %>
<div class="edit_page">
  <div class="settings_container">
    <div class="settings_menu">
      <%= link_to 'プロフィールの変更', '#', class:"menu_item_active settings_menu_item" %>
      <%= link_to 'ヘッダー画像とアイコンの変更', '#', class:"settings_menu_item" %>
      <%= link_to 'メールアドレス・パスワードの変更', '#', class:"settings_menu_item" %>
      <%= link_to 'アカウントを削除する', '#', class:"settings_menu_item" %>
    </div>
    <div class="settings_main">
      <div class="settings_title_section">
        <p>プロフィールの変更</p>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "call_center_users/shared/error_messages", resource: resource %>

        <div class="device_inner">
          <div class="field">
            <%= f.label :name, class:"label_name" %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form_control" %>
          </div>
          <div class="field">
            <%= f.label :email, class:"label_name" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form_control" %>
          </div>

          <div class="field">
            <%= f.label :password, class:"label_name" %><i>(変更する場合のみ入力)</i>
            <%= f.password_field :password, autocomplete: "new-password", class:"form_control" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class:"label_name" %><i>(変更する場合のみ入力)</i>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form_control" %>
          </div>

          <div class="field">
            <%= f.label :prefectures, class:"label_name" %>
            <%= f.text_field :prefectures, autofocus: true, class:"form_control" %>
          </div>

          <div class="field">
            <%= f.label :home_page, class:"label_name" %>
            <%= f.text_field :home_page, autofocus: true, class:"form_control" %>
          </div>

          <div class="field">
            <%= f.label :industry, class:"label_name" %>
            <%= f.text_field :industry, autofocus: true, class:"form_control" %>
          </div>

          <div class="field">
            <%= f.label :employee, class:"label_name" %>
            <%= f.number_field :employee, autofocus: true, class:"form_control" %>
          </div>

          <div class="field">
            <%= f.label :average_age, class:"label_name" %>
            <%= f.number_field :average_age, autofocus: true, class:"form_control" %>
          </div>

          <div class="field">
            <%= f.label :introduction, class:"label_name" %>
            <%= f.text_area :introduction, autofocus: true, class:"form_control" %>
          </div>

          <div class="field">
            <%= f.label :プロフィール画像, class:"label_name" %>
            <%= f.file_field :image %>
          </div>

          <div class="field">
            <%= f.label :ヘッダー画像, class:"label_name" %>
            <%= f.file_field :header_image %>
          </div>

          <div class="actions">
            <%= f.submit "プロフィールを変更する", class:"form_control btn_primary" %>
          </div>
      <% end %>
          <h3>Cancel my account</h3>
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

          <%= link_to "前のページに戻る", :back, class:"form_control back_button" %>
      </div>
    </div>
  </div>
</div>
