<div class="post_index">
  <div class="reserved">
    <h3>確定した予約一覧</h3>
    <div class="x-scroll">
      <table>
        <thead>
          <th>予約作成企業</th>
          <th>予約企業</th>
          <th>予約開始時間</th>
          <th>予約終了時間</th>
          <th>商談</th>
          <th>要望</th>
        </thead>
        <tbody>
          <% @reserved_list.each do |reserved| %>
            <tr>
              <td class="reserved_user"><%= render 'shared/icon_default', user: reserved.user %><%= reserved.user.name %></td>
              <td class=""><%= render 'shared/icon_default', user: reserved.reservation_user %><%= reserved.reservation_user.name %></td>
              <td classs=""><%= reserved.start_time.strftime("%-m月%-d日 %H:%M") %></td>
              <td classs=""><%= reserved.end_time.strftime("%-m月%-d日 %H:%M") %></td>
              <td classs="">電話希望</td>
              <td class="reserved_request">アリスは川辺でおねえさんのよこにすわって、なんにもすることがないのでとても退屈（たいくつ）しはじめていました。一、二回はおねえさんの読んでいる本をのぞいてみたけれど、そこには絵も会話もないのです。「絵</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
