<div class="post_index">
  <%= form_for @reservation,:url => {:action => :create} do |f| %>

    <div class="time">
      <%= f.label :start_time %>
      <%= f.datetime_select :start_time %>
    </div>

    <div class="content">
      <%= f.label :end_time %>
      <%= f.datetime_select :end_time %>
    </div>


    <div class="submit">
      <%= f.submit %>
    </div>

  <% end %>
</div>
