<div class="post_index">
  <div class="reservation_show">
    <div class="device_frame">
      <h3>商談予約確認</h3>
      <p><span>商談相手企業 :</span> <%= @reservation.user.name %>さん</p>
      <p><span>商談可能日時 :</span> <%= @reservation.start_time.strftime("%-m月%-d日 %H:%M") %>〜<%= @reservation.end_time.strftime("%-H:%-M") %></p>
      <% if @reservation.reservation_user.nil? %>
        <%= form_for @reservation, :url => {:action => :update} do |f| %>
          <div class="opportunity"><input type="radio" name="opportunity" value="">対面希望</div>
          <div class="opportunity"><input type="radio" name="opportunity" value="">電話希望</div>
          <h4 class="request">要望</h4>
          <textarea name="" rows="" class="reservation_textarea form_control" cols="40"></textarea>
          <%= f.submit "予約を確定する", class: "form_control reserved_submit" %>
        <% end %>
        <% else %>
      <% end %>
    </div>
  </div>
</div>
