<% provide(:title, "メッセージボックス") %>

<div class="post_index">
  <div class="room_index_box">
    <div class="message_box">メッセージボックス</div>
    <ul>
      <% @rooms.each do |room| %>
        <li class="room_index_item">
          <% user = opened_user(room) %>
          <%= link_to user do %>
            <% if user.image.attached? %>
            <%= image_tag user.image, class:"message_user_image" %>
            <% else %>
              <%= image_tag "user_default.png", class:"message_user_image" %>
            <% end %>
          <% end %>
          <%= link_to room, class: 'room_index_item_content' do %>
            <div class="room_index_content">
              <strong class=""><%= user.name %></strong>
              <% message = get_most_new_message(room) %>
              <% if message.present? %>
                <div class="room_index_content_message">
                  <div class="room_index_message">
                    <%= truncate(message.message, length: 20) %>
                  </div>
                  <div class="room_index_date">
                    <%= message.created_at.strftime("%Y-%m-%d %H:%M") %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
