<div class="post_index">
  <div class="room_show_box">
    <% @entries.each do |e| %>
      <% if e.host_user.id != current_host_user.id %>
        <%= link_to host_user_path(e.host_user.id) do %>
          <div class="company_room">
            <% if e.host_user.image.attached? %>
              <%= image_tag e.host_user.image, class:"message_user_image" %>
            <% else %>
              <%= image_tag "user_default.png", class:"message_user_image" %>
            <% end %>
            <span>
              <%= e.host_user.name %>さん
            </span>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <hr class="company_chat">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
          <% if m.host_user_id == current_host_user.id %>
            <div class="room_item_right">
              <span class="chat_message">
                <%= m.message %>
              </span>
            </div>
            <div class="room_item_right_bottom">
              <%= form_with(model: @message, url: message_path(m.id), remote: true, method: :delete, data: { confirm: '削除してよろしいですか？' }) do |f| %>
                <%= f.hidden_field :room_id, value: @room.id %>
                <%= f.submit "削除", class:"destroy_message" %>
              <% end %>
              <div class="room_item_date">
                <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
              </div>
            </div>
        <% else %>
          <div class="room_item_left">
            <div class="room_item">
              <% if m.host_user.image.attached? %>
                <%= image_tag m.host_user.image, class:"message_user_image" %>
              <% else %>
                <%= image_tag "user_default.png", class:"message_user_image" %>
              <% end %>
                <span class="chat_message">
                  <%= m.message %>
                </span>
            </div>
            <div class="room_item_date">
              <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= form_with(model: @message, id: "room-show__form") do |f| %>
    <div class="chat_form">
      <%= f.text_field :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form_chat_text" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信", class: 'form-submit reset'%>
    </div>
  <% end %>
</div>
