<%= link_to posts_path, class:"index_link" do%>
  <i class="far fa-arrow-alt-circle-left"></i>募集一覧に戻る
<% end %>
<div class="pv_count">
  <span><%= Pv.count %></span>
  <span>views</span>
</div>
<div class="created_time">
  <%= l(@post.created_at, format: :long) %>
</div>
<h1 class="post_show_h1"><%= @post.title %></h1>
<% if @post.image.attached? %>
  <%= image_tag @post.image, class:"post_show_img" %>
<% end %>
<% if @post.user == current_user %>
  <div class="post_show_btn">
    <%= link_to "投稿を編集する", edit_post_path, class:"btn-border_reverse" %>
  </div>
<% elsif current_user && current_user.admin? %>
  <div class="post_show_btn">
    <%= link_to "投稿を削除する", @post, method: :delete, data: { confirm: "【確認】投稿を削除してもよろしいですか？" }, class:"btn-border_reverse" %>
  </div>
<% else %>
  <div class="post_show_btn">
    <%= render "post_contact" %>
    <span class="bookmark_show"><%= render 'bookmarks/bookmark' , post: @post %></span>
  </div>
<% end %>
<div class="require_area">
  <h2>募集要件</h2>
  <div class="require_area_item">
    <div class="item_box_up">
      <div>
        <h3>報酬(月単価)</h3>
        <p class="require_item"><%= number_to_currency(@post.reward) if @post.reward %></p>
      </div>
      <div class="right_column">
        <h3>募集人数</h3>
        <p class="require_item"><%= @post.recruit_people %>人</p>
      </div>
    </div>
    <h3 class="recruit">募集期間</h3>
    <div class="item_box_down">
      <p><%= @post.start_date %></p>
      <p class="right_column">〜</p>
      <p class="right_column"><%= @post.finish_date %></p>
    </div>
  </div>
  <h3>募集詳細</h3>
  <p class="post_show_content"><%= @post.content %></p>
  <% unless @map.nil? %>
    <div class="address_map">
    <h3>オフィス住所</h3>
    <div class="address"><%= @map.address %></div>
    <div id="map"></div>
  <% end %>
  <div class="tag_show">
    <h3>タグ</h3>
    <% @post.tags.each do |tag| %>
      <span><%= tag.name %></span>
    <% end %>
  </div>
</div>
<hr class="post_separate">
<div class="card_content">
  <h3>コメント</h3>
  <div id="comments">
    <%= render @comments %>
  </div>
  <%= render 'comments/comment_form' %>
</div>
<hr class="post_separate">
<%= link_to @post.user do %>
  <div class="post_show_company">
    <%= render 'shared/icon_default', user: @post.user %>
    <div class="post_company_name"><%= @post.user.name %></div>
  </div>
<% end %>
<p class="post_company_introduction"><%= @post.user.introduction %><p>
<hr class="post_separate">
<h3 class="">おすすめ投稿</h3>
<div class="recommend_post">
  <% @new_post.each do |new_post| %>
  <%= link_to new_post do%>
    <div class="recommend_post_item">
      <%= image_tag new_post.image %>
      <p><%= truncate(new_post.title, length: 50) %></p>
      <div class="recommend_post_item_detail">報酬(月単価)<span><%= number_to_currency(new_post.reward) if new_post.reward %></span></div>
      <div class="recommend_post_item_detail">オフィス住所<span><%= new_post.map&.address %></span></div>
    </div>
    <% end %>
  <% end %>
</div>

<%= javascript_pack_tag 'map/map_show' %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
