<%= search_form_for search do |f| %>
  <%= f.select( :sorts, { '並び替え': 'id desc', '報酬の安い順': 'reward asc', '報酬の高い順': 'reward desc', '募集人数の少ない順': 'recruit_people asc', '募集人数の多い順': 'recruit_people desc', '募集の古い順': 'updated_at asc', '募集の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { class:"industry_more", onchange: 'this.form.submit()'} ) %>
  <span class="search_box">
  <h3 class="index_h3">フリーワード検索</h3>
  <%= f.text_field :title_or_content_or_map_address_cont, class: "form_search", placeholder: "フリーワードで検索" %>
  <p class="post_index_menu">詳細<br>検索<br><i class="fas fa-angle-down"></i></p>
  </span>
  <span class="search_menu_nav">
  <h3 class="index_h3">報酬金額</h3>
  <%= f.number_field :reward_gteq, class:"number_start", placeholder: "最小金額" %>〜<%= f.number_field :reward_lteq, class:"number_finish", placeholder: "最大金額" %>
  <h3 class="index_h3">募集人数</h3>
  <%= f.number_field :recruit_people_gteq, class:"number_start", placeholder: "最小人数" %>〜<%= f.number_field :recruit_people_lteq, class:"number_finish", placeholder: "最大人数" %>
  <h3 class="index_h3">募集期間</h3>
  <%= f.date_field :start_date_gteq, class:"number_start period_start" %>〜<%= f.date_field :finish_date_lteq, class:"number_finish period_finish" %>
  <h3 class="index_h3">募集地域(都道府県)</h3>
  <%= render 'shared/select_map_prefecture', f: f %>
  <h3 class="index_h3">タグ検索</h3>
  <%= select_tag :tag_id,
    options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
    {
      prompt: 'タグで絞り込み',
      class: 'industry_more'
    } %>
  <%= f.button :type => "submit", class:"form_control search_submit" do %>
    <i class="fas fa-search"></i>検索
  <% end %>
  <%= reset_tag 'クリア', id: 'js_clear_btn', class:"search_reset" %>
  </span>
<% end %>
