<div class="left_box">
  <h3>検索条件</h3>

</div>
<div class="post_detail">
  <div class="recruit_title">
    <span class="title_name">スキル企業PR一覧</span>
  </div>
  <% @skill_posts.each do |post| %>
    <hr class="post_separate">
    <div class="post_user_area">
      <%= link_to post.user do %>
        <div class="post_company">
          <%= render 'shared/icon_default', user: post.user %>
          <span><%= post.user.name %></span>
        </div>
      <% end %>
    </div>
    <div class="post_area">
      <%= link_to post do %>
        <div>
          <% if post.image.attached? %>
            <%= image_tag post.image, class:"skill_post_index_image" %>
          <% end %>
        </div>
        <h1 class="post_title"><%= post.title %></h1>
        <span><div class="grad_item"><%= markdown(post.content) %></div></span>
        <h3 class="post_address">オフィス住所<span><%= post.map&.address %></span></h3>
        <div class="post_index_tag">
          <% post.tags.each do |tag| %>
            <span><%= tag.name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= paginate @skill_posts %>
</div>
