<%= provide(:title, "募集一覧") %>

<div class="container">
  <div class="post_index">
    <div class="post_device">
      <div class="left_box">
        <%= render partial: "search_form", locals: { search: @search } %>
      </div>
      <div class="post_detail">
        <div class="recruit_title">
          <span class="title_name">募集一覧</span>
        </div>
        <% if current_user && current_user.skill == true %>
          <%= link_to "企業PRを投稿する", new_post_path, class:"recruit_link" %>
        <% elsif current_user && current_user.skill == false %>
          <%= link_to "スペース募集をする", new_post_path, class:"recruit_link" %>
        <% else %>
        <% end %>
        <span class="link_post_index">
          <%= link_to skill_posts_path, class:"index_link" do %>
            <i class="fa fa-mail-forward"></i>スキル企業のPRを探す
          <% end %>
        </span>
        <%= render @host_posts  %>
        <%= paginate @host_posts %>
      </div>
    </div>
  </div>
</div>
