<%= provide(:title, "検索結果") %>
<div class="container">
  <div class="post_index">
    <div class="post_device">
      <div class="left_box">
        <h3>検索条件</h3>
        <%= search_form_for(@q, url:search_posts_path) do |f| %>
        <div class="select_sort">
          <%= f.select( :sorts, { '並び替え': 'id desc', '報酬の安い順': 'reward asc', '報酬の高い順': 'reward desc', '募集の古い順': 'updated_at asc', '募集の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'}) %>
        </div>
        <%= f.text_field :title_or_content_or_host_user_name_cont, class: "form_search", placeholder: "フリーワードで検索" %>
        <i class="fas fa-search"></i>
        <h3>報酬金額</h3>
        <%= f.number_field :reward_gteq, class:"number_start", placeholder: "最小金額" %>〜<%= f.number_field :reward_lteq, class:"number_finish", placeholder: "最大金額" %>
        <h3>募集人数</h3>
        <%= f.number_field :recruit_people_gteq, class:"number_start", placeholder: "最小人数" %>〜<%= f.number_field :recruit_people_lteq, class:"number_finish", placeholder: "最大人数" %>
        <h3>職種</h3>
        <%= render 'select_industry' %>
        <h3>募集地域(都道府県)</h3>
        <%= render 'select_prefecture' %>
        <%= f.submit class:"form_control search_submit" %>
        <% end %>
      </div>
      <div class="post_detail">
        <div class="recruit_title">
          <span class="title_name">募集一覧</span>
          <span><%= @posts.count %>件表示</span>
          <%= link_to "募集する", new_post_path, class:"recruit_link"%>
        </div>

        <% @posts.each do |post| %>
          <hr class="post_separate">
          <%= link_to post.user do %>
            <div class="post_company">
              <% if post.user.image.attached? %>
                <%= image_tag  post.user.image, class:"post_company_image" %>
              <% else %>
                <%= image_tag 'user_default.png', class:"post_company_image" %>
              <% end %>
              <span><%= post.user.name %></span>
            </div>
          <% end %>
          <%= link_to post do %>
            <div>
              <% if post.image.attached? %>
                <%= image_tag post.image, class:"post_index_image" %>
              <% end %>
            </div>
            <h1 class="post_title"><%= post.title %></h1>
            <p class="post_content"><%= post.content %></p>
            <div class="group"><h3>報酬(月単価)<span>約<%= number_to_currency(post.reward) %></span></h3></div>
            <div class="group"><h3>募集人数<span><%= post.recruit_people %>人</span></h3></div>
            <div class="group"><h3>募集期間<span><%= post.start_date %> 〜 <%= post.finish_date %></span></h3></div>
            <h3 class="post_address">オフィス住所<span>北海道札幌市南区藤野3条4丁目1-24 プレジールビル6階</span></h3>
          <% end %>
        <% end %>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
