<% if user_signed_in? %>
  <div class="pc_list_nav_header">
    <li class="pc_list <%= "current_page" if current_page?(posts_path) %>">
      <% if current_user.skill == true %>
        <%= link_to skill_posts_path do %>
          <i class="fas fa-search"></i>投稿を探す
        <% end %>
      <% else %>
        <%= link_to posts_path do %>
          <i class="fas fa-search"></i>投稿を探す
        <% end %>
      <% end %>
    </li>
    <li class="pc_list <%= "current_page" if current_page?(notifications_path) %>">
      <%= link_to notifications_path do %>
        <% if unchecked_notifications.any? %>
          <i class="fas fa-bell unchecked"></i>通知
        <% else %>
          <i class="fas fa-bell"></i>通知
        <% end %>
      <% end %>
    </li>
    <li class="pc_list <%= "current_page" if current_page?(rooms_path) %>">
      <%= link_to rooms_path do %>
        <i class="fas fa-envelope"></i>メッセージ
      <% end %>
    </li>
    <li class="mymenu">
      <span>
        マイメニュー
        <%= render "shared/icon_default", user: current_user %>
      </span>
      <nav id="">
        <ul class="my_menu_nav">
          <%= link_to user_path(current_user.id) do %>
            <li>
              <i class="fas fa-user-circle"></i>マイページ
            </li>
          <% end %>
          <%= link_to edit_user_registration_path do %>
            <li>
              <i class="fas fa-user-edit"></i>ユーザー編集
            </li>
          <% end %>
          <%= link_to user_bookmarks_path(current_user) do %>
            <li>
              <i class="fas fa-bookmark"></i>ブックマーク
            </li>
          <% end %>
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <li>
              <i class="fas fa-sign-out-alt"></i>ログアウト
            </li>
          <% end %>
        </ul>
      </nav>
    </li>
  </div>
  <div class="phone_list_nav_header">
    <li>
      <div class="offcm01">
        <input type="checkbox" id="toggle01" class="toggle_button">
        <label for="toggle01"><span></span></label>
        <div class="menu">
          <ul>
            <li>
              <%= link_to user_path(current_user.id), class:"mypage_link" do %>
                <i class="fas fa-user-circle"></i>マイページ
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path, class:"user_edit_link" do %>
                <i class="fas fa-user-edit"></i>ユーザー編集
              <% end %>
            </li>
            <li>
              <% if current_user.skill == true  %>
                <%= link_to skill_posts_path, class:"post_link" do %>
                  <i class="fas fa-search"></i>投稿を探す
                <% end %>
              <% else %>
                <%= link_to posts_path, class:"post_link" do %>
                  <i class="fas fa-search"></i>投稿を探す
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to notifications_path, class:"notification_link" do %>
                <% if unchecked_notifications.any? %>
                  <i class="fas fa-bell unchecked"></i>通知
                <% else %>
                  <i class="fas fa-bell"></i>通知
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to rooms_path, class:"room_link" do %>
                <i class="fas fa-envelope"></i>メッセージ
              <% end %>
            </li>
            <li>
              <%= link_to user_bookmarks_path(current_user), class:"bookmark_link" do %>
                <i class="fas fa-bookmark"></i>ブックマーク一覧
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete, class:"logout_link" do %>
                <i class="fas fa-sign-out-alt"></i>ログアウト
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </div>
<% else %>
  <div class="before_login_list">
  <div class="phone_list_nav_header">
    <li>
      <div class="offcm01">
        <input type="checkbox" id="toggle01" class="toggle_button">
        <label for="toggle01"><span></span></label>
        <div class="menu">
          <ul>
            <li class="login_btn">
              <%= link_to users_guest_sign_in_path, method: :post, class:"btn-border gray-border" do %>
                <i class="fas fa-users"></i>ゲストログイン
              <% end %>
            </li>
            <li class="login_btn">
              <%= link_to new_user_session_path, class:"btn-border" do %>
                <i class="fas fa-sign-in-alt"></i>ログイン
              <% end %>
            </li>
            <li class="login_btn">
              <%= link_to new_user_registration_path, class:"btn-border" do %>
                <i class="fas fa-user"></i>新規登録
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </div>
</div>
<% end %>
