<% if host_user_signed_in? %>
  <li>
    <div class="offcm01">
      <input type="checkbox" id="toggle01" class="toggle_button">
      <label for="toggle01"><span></span></label>
      <div class="menu">
        <ul>
          <li><%= link_to 'マイページ', host_user_path(current_host_user.id) %></li>
          <li><%= link_to 'ユーザー編集', edit_host_user_registration_path %></li>
          <li><%= link_to '募集を見る', posts_path %></li>
          <li><%= link_to '通知', '#' %></li>
          <li><%= link_to 'メッセージボックス', '#' %></li>
          <li><%= link_to 'ブックマーク', '#' %></li>
          <li><%= link_to 'ログアウト', destroy_host_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
  </li>
<% elsif call_center_user_signed_in? %>
  <li>
    <div class="cp_offcm01">
      <input type="checkbox" id="cp_toggle01" class="toggle_button">
      <label for="cp_toggle01"><span></span></label>
      <div class="cp_menu">
        <ul>
          <li><%= link_to 'マイページ', call_center_user_path(current_call_center_user.id) %></li>
          <li><%= link_to 'ユーザー編集', edit_call_center_user_registration_path %></li>
          <li><%= link_to '募集を見る', posts_path %></li>
          <li><%= link_to '通知', '#' %></li>
          <li><%= link_to 'メッセージボックス', '#' %></li>
          <li><%= link_to 'ブックマーク', '#' %></li>
          <li><%= link_to 'ログアウト', destroy_call_center_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
  </li>
<% else %>
  <li>
    <%= link_to "ホスト企業 | 新規登録orログイン", new_host_user_session_path, class:"btn-border" %>
  </li>
  <li>
    <%= link_to "コールセンター | 新規登録orログイン", new_call_center_user_session_path, class:"btn-border" %>
  </li>
<% end %>
