<%= provide(:title, "編集") %>
<%= render "users/shared/error_messages_top", resource: resource %>
<div class="edit_page">
  <div class="device_frame">
  <div class="device_inner">
    <%= link_to user_path(current_user.id), class:"index_link" do %>
      <i class="far fa-arrow-alt-circle-left"></i>アカウント詳細に戻る
      <% end %>
    <div class="form_title">
      <p>プロフィールの変更</p>
    </div>
    <%= form_with model: @user, url: user_registration_path, id: 'edit_host_user', class: 'edit_host_user', local: true do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <h4 class="label_name">企業名</h4>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form_control" %>
      </div>
      <div class="field">
        <h4 class="label_name">メールアドレス</h4>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form_control" %>
      </div>

      <div class="field">
        <h4 class="label_name">パスワード</h4><i>(変更する場合のみ入力)</i>
        <%= f.password_field :password, autocomplete: "new-password", class:"form_control" %>
      </div>

      <div class="field">
        <h4 class="label_name">パスワード(確認用)</h4><i>(変更する場合のみ入力)</i>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form_control" %>
      </div>

      <div class="field">
        <%= f.label :ホームページ, class:"label_name" %>
        <%= f.text_field :home_page, autofocus: true, class:"form_control", placeholder:"URLを入力してください" %>
      </div>

      <div class="field">
        <%= f.label :業界, class:"label_name" %>
        <%= render 'users/select_industry', f: f %>
      </div>

      <div class="field">
        <%= f.label :従業員数, class:"label_name" %>
        <%= f.number_field :employee, autofocus: true, class:"form_control", placeholder:"数字で入力してください" %>
      </div>

      <div class="">
        <%= f.label :平均年齢, class:"label_name" %>
        <%= f.number_field :average_age, autofocus: true, class:"form_control", placeholder:"数字で入力してください" %>
      </div>

      <div class="field">
        <%= f.label :企業紹介, class:"label_name" %>
        <%= f.text_area :introduction, autofocus: true, class:"form_control edit_text", id:"text1", onkeyup:"StringCount('text1', 'textcount1')", placeholder:"" %>
        <p id="textcount1">0文字</p>
      </div>

      <div class="field">
        <%= f.label :ヘッダー画像, class:"label_name" %>
        <div class="file">
          ファイルを選択
          <%= f.file_field :header_image, onChange: "imgPreView(event, 'preview1')", class:"file_input" %>
        </div>
        <div id="preview1" class="header_img">
          <% if @user.header_image.present? %>
            <%= image_tag @user.header_image, id:"previewImage-preview1" %>
          <% else %>
            <%= image_tag "header_default.jpg", id:"previewImage-preview1" %>
          <% end %>
        </div>
      </div>
      <div id="preview"></div>

      <div class="field">
        <%= f.label :プロフィール画像, class:"label_name" %>
        <div class="file">
          ファイルを選択
          <%= f.file_field :image, onChange: "imgPreView(event, 'preview2')", class:"file_input" %>
        </div>
        <div id="preview2" class="edit_user_icon">
          <% if @user.image.present? %>
            <%= image_tag @user.image, id:"previewImage-preview2" %>
          <% else %>
            <%= image_tag 'user_default', id:"previewImage-preview2" %>
          <% end %>
        </div>
      </div>
      <div class="field cp_ipcheck">
        <%= f.check_box :skill, {class: "option-input05"} %>
        <%= f.label :skill %>
      </div>

      <div class="actions">
        <%= f.submit "プロフィールを変更する", class:"form_control btn_primary" %>
      </div>
      <% end %>
      <h4 class="user_destroy">アカウントを削除する</h4>
      <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当に削除してもよろしいですか?" }, method: :delete, class:"form_control user_destroy_btn" %>
    </div>
  </div>
</div>
