<% provide(:title, '新規作成') %>
<%= render "users/shared/error_messages_top", resource: resource %>
<div class="device">
  <div class="device_frame">
    <div class="form_title">
      <p>新規登録</p>
    </div>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="device_inner">
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <div class="field">
          <%= f.label :name, class:"label_name" %>
          <%= f.text_field :name, autofocus: true, class:"form_control" %>
        </div>
        <div class="field">
          <%= f.label :email, class:"label_name" %>
          <%= f.text_field :email, autofocus: true, autocomplete: "email", class:"form_control" %>
        </div>
        <div class="field">
          <%= f.label :password, class:"label_name" %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form_control" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, class:"label_name" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form_control" %>
        </div>
        <div class="field cp_ipcheck">
          <%= f.check_box :skill, {class: "option-input05"}, true, false %>
          <%= f.label :skill %>
        </div>
        <div class="actions">
          <%= f.submit "新しいアカウントを作成", class:"form_control btn_primary" %>
        </div>
      <% end %>
      <div class="link_blue">
        <%= link_to "すでにアカウントをお持ちの方はログイン", new_session_path(resource_name), class:"link_blue" %>
      </div>
    </div>
  </div>
</div>
